<div class="row align-items-baseline">
  <div class="col-sm-6">
    <h2 class="text-start">Ledger</h2>
  </div>
  <div class="col-sm-6">
    <h6 class="text-end text-secondary">
      Total Balance: {{ totalBalance | currency }}
    </h6>
  </div>
</div>

<div class="table-responsive">
  <table
    *ngIf="clients; else noClients"
    class="table table-warning table-striped"
  >
    <thead class="thead-inverse vmid">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Account Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.firstName }} {{ client.lastName }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.acctBalance | currency: "USD":"symbol" }}</td>
        <td>
          <a
            routerLink="client/{{ client.id }}"
            class="d-flex justify-content-center btn btn-warning btn-sm"
            ><i class="fa fa-arrow-circle-o-right"></i> Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noClients>
  <h5>No Data available to show.</h5>
</ng-template>
